@import "tailwindcss";

body.plugin {
    background-color: var(--ring-content-background-color);
    color: var(--ring-text-color);
    font-size: var(--ring-font-size);
}

.attachmentItem {
    padding: calc(var(--ring-unit) * 1) calc(var(--ring-unit) * 2);
    border-radius: var(--ring-border-radius);
    background-color: var(--ring-secondary-background-color);
    border: 1px solid var(--ring-borders-color);
}

.attachmentItem:hover {
    background-color: var(--ring-selected-background-color);
}

.attachmentIcon {
    height: 40px;
    width: 40px;
}

.iconButton {
    padding-inline: calc(var(--ring-unit) * 1) !important;
}
