@import "tailwindcss";

:root {
    --window-height: 1080px;
}

body.plugin {
    padding-left: 16px;
    background-color: var(--ring-content-background-color);
    color: var(--ring-text-color);
    font-size: var(--ring-font-size);
}

.breadCrumbLink:hover {
    text-decoration: underline;
}

.alertBottom {
    position: sticky;
    bottom: 0;
    right: 0;
}

.add-popup {
    /*position: absolute;*/
    top: 40% !important;
    left: calc(50% - 155px) !important;
}

.confirmation-popup {
    max-height: 200px !important;
}


.drawIo {
    height: calc(var(--window-height) - 290px);
}


.drawIo iframe:focus {
    outline: none !important;
}

.drawIo iframe {
    border-radius: var(--ring-border-radius);
}

.remove-input-focus input:focus {
    outline: none !important;
}

.select-max-width {
    max-width: 500px;
}

.forceFullWidth {
    width: 100% !important;
}

.infoIcon {
    color: var(--ring-icon-color);
}

.infoIcon:hover {
    color: #d671b3;
}

.iconButton {
    padding-inline: calc(var(--ring-unit) * 1) !important;
}

.select-group-left {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.select-group-right {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.select-group-middle {
    border-radius: 0 !important;
}

.select-primary {
    background-color: var(--ring-button-primary-background-color) !important;
    color: white;
    border: none !important;
    --ring-disabled-color: var(--ring-secondary-color) !important;
}

.avatar {
    height: 20px;
    width: 20px;
    border-radius: var(--ring-border-radius);
}

.saved-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    border: 1px solid var(--ring-borders-color);
    border-radius: 25px;
    height: calc(var(--ring-unit) * 3.5);
    padding-left: 10px;
    padding-right: 10px;
}
