@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --window-height: 1080px;
}

body.plugin {
    padding-left: 16px;
    background-color: var(--ring-content-background-color);
    color: var(--ring-text-color);
    font-size: var(--ring-font-size);
}

.breadCrumbLink:hover {
    text-decoration: underline;
}

.alertBottom {
    position: sticky;
    bottom: 0;
    right: 0;
}

.add-popup {
    /*position: absolute;*/
    top: 40% !important;
    left: calc(50% - 155px) !important;
}

.confirmation-popup {
    max-height: 200px !important;
}


.drawIo {
    height: calc(var(--window-height) - 290px);
}


.drawIo iframe:focus {
    outline: none !important;
}

.drawIo iframe {
    border-radius: var(--ring-border-radius);
}

.remove-input-focus input:focus {
    outline: none !important;
}

.forceFullWidth {
    width: 100% !important;
}
